doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Heroes
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='assets/css/main.css')
		//-script(src='js/vendor/modernizr-2.7.1.min.js')
	body
		- var heroes=[{name: 'Noah', date: '26 July 2015'},{name: 'Abraham', date: '2 August 2015'},{name: 'David', date: '9 August 2015'},{name: 'Esther', date: '16 August 2015'},{name: 'Joseph', date: '13 September 2015'},{name: 'Joshua', date: '20 September 2015'},{name: 'Elijah', date: '4 October 2015'},{name: 'Moses', date: '11 October 2015'},{name: 'Daniel', date: '18 October 2015'},{name: 'Job', date: '1 November 2015'},{name: 'Ruth', date: '22 November 2015'},{name: 'Jonah', date: '29 November 2015'},{name: 'Gideon', date: '13 December 2015'},{name: 'Jesus', date: '20 December 2015'}]
		<!--[if lt IE 8]>
		p.browsehappy
			| You are using an <strong>outdated</strong> browser.
			| Please <a href="http://browsehappy.com/">upgrade your browser</a>
			| to improve your experience.
		<![endif]-->
		include ./partials/rockmenu		
		.container-fluid
			.row
				.col-xs-12
					img.logo(src="assets/img/heroes-title.png", alt="Heroes")
			.row.isotope--container
				- for(var i=0; i<14; i++){
				.col-xs-12.col-sm-4.col-lg-1.isotope--item
					a(href="#")
						- if(i % 2 == 0)
							- itemClass = "open"
							- sampleImage = "http://placehold.it/346x356"
						- else
							- itemClass = ""
							- sampleImage = "assets/img/hero-placeholder-contentonly.jpg"
						.item(class = itemClass)
							.item--content
								img.img-responsive(src=sampleImage)
								.item--content--overlay
									.episode--number Ep.
										span= (i+1)
									.episode--title= heroes[i].name
									.episode--date= heroes[i].date
				-}
			

		script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')
		script(src='assets/js/global.js')
		//- Google Analytics: change UA-XXXXX-X to be your site's ID.
		//-
			script
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');